/* Styling for the top navigation bar */
.topnav {
    background-color: black;
    overflow: hidden;
}
.topnav img {
    float: left;
    padding-left: 20%;
    padding-top: 7px;
    position: relative;
}
.topnav ul {
    list-style: none;
    padding-right: 20%;
}


.navlist a, select {
    color: white;
    float: right;
    font-family: 'Alata', sans-serif;
    padding: 16px 20px;
    text-align: center;
    text-transform: uppercase;
    transition-duration: 600ms; 
    transition-timing-function: linear;
}
.navlist a:hover {
    background-color: white; 
    color: black;
} 

/* Main body style and main content styles below*/
body {
    background-color: white;
    height: 100%;
    margin: 0;
    width: 100%;
}

.page-container {
    min-height: 100vh;
    position: relative;
}
.maincontent {
    padding: 30px;
}
article {
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

article small {
    padding-top: 10px;
    text-align: center;
}

/* Header styles */
h1  {
    font-family: 'Alata', sans-serif;
    padding-bottom: 20px;
    padding-top: 40px;
    text-align: center;
}

h2, h3, h4, h5, h6 {
    font-family: 'Alata', sans-serif;
    padding-bottom: 20px;
    padding-top: 10px;
    text-align: center;
}

/*Footer styles below*/
footer {
    background-color: black;
    bottom: 0;
    height: 3rem;
    position: absolute;
    width: 100%;
}
footer p {
    color: white;
    font-family: 'Alata', sans-serif;
    position: relative;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
}

/*Extra styling used on the contact form below*/
label {
    font-family: 'Alata', sans-serif;
}
.form-control {
    max-height: 300px;
}
.btn-primary {
    background-color: black;
}
.btn-primary:hover {
    background-color: white; 
    border-color: rgb(83, 80, 80);
    color: black;
}

/*Extra styling for gallery images*/
article img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}